header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
}


.back {
    width: 20%;
    text-align: center;
    position: relative;
}

.new {
    width: 20%;
    text-align: center;
}

.date {
    margin: 0 auto;
}