.memo {
    width: 100%;
}

.memo-card {
    background: white;
    margin: 10px 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 5px 1px #808080 ;
    height: 44px;
    overflow: hidden;
}

.open {
    min-height: 44px;
    height: 100%;
}